body {
	background-color: #eaf1ff;
	font-family: Rowdies;
	margin: 0;
	color: #1f3c88;
}

nav {
	padding: 30px;
	margin-bottom: 120px;
}

.brand {
	font-size: 25px;
	float: left;
}

.profil {
	margin-top: 20px;
	float: right;
}

.profil .user-image {
	padding: 12px;
	background-color: #1f3c88;
	color: #ffffff;
	border-radius: 50%;
}
.menu3 {
	display: block;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
}

.container {
	border: solid;
	border-radius: 10px;
	border-color: #fefeff;
	border-width: 5px;
	box-shadow: 2px 2px 2px#ADB2C0;
}

.progress {
	color: #69259c;
}

.progres-container {
	width: 50%;
	margin: 0 auto;
	display: flex;
	padding: 5%;
}

.progres {
	margin-right: 20%;
	display: flex;
}

.progres div {
	margin-left: 15px;
}

.content {
	text-align: center;
	margin: 0;
	padding: 0 5%;
}

.pop-up {
	padding: 10px;
	margin-top: 30px;
	width: 150px;
	background-color: #fefeff;
}

.materi {
	width: 50%;
	margin-bottom: 120px;
	margin: 0 auto;
	display: flex;
}

.satu-materi {
	margin-right: 60px;
}

hr {
	border: solid;
	border-radius: 10px;
	border-color: #fefeff;
	border-width: 2px;

	box-shadow: 2px 2px 2px #adb2c0;
}

a {
	text-decoration: none;
}

button {
	margin-top: 20px;
	border-radius: 10px;
	width: 70%;
	height: 50px;
	color: #eaf1ff;
	background-color: #69259c;
	text-align: center;
	font-family: Rowdies;
}

.gambar {
	width: 100px;
	height: 80px;
	background-color: #69259c;
	text-decoration: none;
	border-radius: 50%;
	padding-top: 20px;
}

.angka-abjad {
	margin-top: 12px;
	width: 80px;
}

footer {
	background-color: #1f3c88;
	width: 100%;
	overflow: hidden;
	text-align: center;
	color: #eaf1ff;
}
