/* css reset */
@import 'reset.css';
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*,
body {
	background-color: #eaf1ff;
	font-size: 24px;
	font-family: 'Rowdies', cursive;
	color: #1f3c88;
}

nav {
	padding: 30px 30px;
}

.brand {
	font-size: 30px;
}

/* content */

form {
	margin: 30px 0 20px;
}

input {
	background-color: #ffffff;
	border: solid 1px #c4c4c4;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 18px;
	padding: 10px;
}

input::placeholder {
	font-size: 18px;
}

button {
	border: none;
	border-radius: 10px;
	width: 104%;
	height: 50px;
	color: #ffffff;
	background-color: #1f3c88;
}

button:hover {
	opacity: 0.9;
	cursor: pointer;
}

.content {
	margin: 0 auto;
	padding-top: 50px;
	width: 40%;
}

.content h1,
form {
	text-align: center;
}

.content a {
	text-decoration: none;
	color: #c4c4c4;
	font-size: 18px;
}

.lupa-sandi {
	margin-bottom: 10px;
}

.register {
	display: inline-block;
	width: 30px;
	margin: 10px 0;
}
