/* css reset */
@import 'reset.css';
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
	background-color: #eaf1ff;
	font-size: 24px;
	font-family: 'Rowdies', cursive;
	color: #1f3c88;
}

nav {
	padding: 30px;
}

.brand {
	font-size: 30px;
}

/* content */

form {
	margin: 10px 0 20px;
}

input {
	background-color: #ffffff;
	border: solid 1px #c4c4c4;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	margin-bottom: 18px;
	padding: 10px;
}

input::placeholder {
	font-size: 18px;
	font-family: 'Rowdies', cursive;
}

button {
	border: none;
	border-radius: 10px;
	width: 104%;
	height: 50px;
	color: #ffffff;
	background-color: #1f3c88;
	font-size: 20px;
}

button:hover {
	opacity: 0.9;
	cursor: pointer;
}

.content {
	margin: 0 auto;
	padding-top: 50px;
	width: 40%;
}

.content h1,
form {
	text-align: center;
	font-size: 36px;
}

.content a {
	text-decoration: none;
	color: #c4c4c4;
	font-size: 18px;
}

.register {
	display: inline-flex;
}

.register a {
	color: #1f3c88;
	padding: 5px;
	margin-left: 20px;
	box-shadow: 2px 3px 4px #98a9d5;
	border-radius: 10px;
}

@media (max-width: 824px) {
	body {
		font-size: 3vw;
	}

	.register {
		display: inline-block;
		text-align: left;
		margin: 0;
	}

	.register a {
		display: inline-block;
		margin: 10px 0;
		padding: 3%;
		font-size: 2vw;
	}

	button {
		margin: auto 0;
		border-radius: 10px;
		width: 110%;
	}
}

img {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
}

.pesan-error {
	font-size: 16px;
	background-color: #de8c8d;
	color: #a10608;
	padding: 20px;
	border-radius: 5px;
	margin-top: 10px;
}
