/* css reset */
@import 'reset.css';
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
	background-color: #84acf2;
	font-size: 2vw;
	font-family: 'Rowdies', cursive;
	color: #ffffff;
	overflow: hidden;
}

a {
	color: #ffffff;
	text-decoration: none;
	border: none;
	border-radius: 25px;
	background-color: #1f3c88;
	padding: 7px 15px;
}

a:hover {
	opacity: 0.9;
	cursor: pointer;
}

.brand {
	font-size: 7vw;
}

.mulai-btn {
	margin: 25px 0;
}

.quotes {
	letter-spacing: 2px;
	margin-top: 150px;
	margin-left: 3%;
	width: 40%;
}

.quotes p {
	letter-spacing: 1px;
}

.liquid1 {
	height: 30%;
	position: fixed;
	top: 70%;
	left: 0;
	z-index: -99;
}

.liquid2 {
	position: absolute;
	height: 700px;
	z-index: 3;
	top: -10%;
	right: -9%;
	z-index: -4;
}

.liquid3 {
	position: absolute;
	height: 700px;
	top: 0;
	right: 0;
	z-index: -5;
}

.illus {
	position: absolute;
	width: 500px;
	top: 0;
	right: 5%;
	z-index: -3;
}

@media (max-width: 1100px) {
}

@media screen and (max-width: 991px) {
	body {
		text-align: center;
	}

	.liquid1,
	.liquid2,
	.liquid3 {
		visibility: hidden;
	}
	.quotes {
		margin: 20% auto 0;
	}

	.illus {
		position: static;
		margin: 0;
		padding: 0;
		width: 25%;
	}
}
