/* css reset */
@import 'reset.css';
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body{
    font-family: Rowdies;
    background-color: #84ACF2;
    overflow-x: hidden;
}

.bc{
    position: absolute;
    z-index: -5;
}

.header{
    height: 80px;
    /*border-bottom: 2px solid #001e2e;*/
}

h1{
    float:left;
    padding: 20px 40px;
    font-size: 36px;
}

.btn-close{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Rowdies;
    font-size: 36px;
    float:right;
    color:white;
    background-color: transparent;
    margin-right:40px;
    margin-top:20px;
    border:0px;
    cursor:pointer;
}

.header-logo{
    text-align: left;
    color: white;
}

.header-close{
    text-align: right;
    color: #84ACF2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right:0px;
    position: absolute;
}

.title{
    text-align: center;
    color: white;
    padding-bottom:25px;
    font-size: 36px;
    /*border-bottom: 2px solid #001e2e;*/
}

.contents{
    margin: 25px;
    width: 1500px;
    height: 375px;
    align-content: center;
    padding-left: 4%;
    /*border-right: 2px solid #001e2e;
    border-left: 2px solid #001e2e;*/
}

.contents-item img:hover{
    opacity:50%;
}

.contents-item{
    height: 160px;
    width: 255px;
    float:left;
    margin-right:50px;
    margin-bottom:100px;
    background-color: white;
    border: 4px solid #5D1890;
    border-radius: 7px;
    left:50%;
    cursor:pointer;
    align-items: center;
    border-left: 50%;
}

.contents-item img{
    width:235px;
    height:140px;
    padding-top:5%;
    padding-left:5%;
}

.contents-item p{
    font-size: 36px;
    text-align: center;
    color:white;
    margin-top:25px;
}

.bawah{
    padding-left: 150px;
}

.btn-next{
    width: 80px;
    height: 80px;
    float:right;
    background-color: transparent;
    margin-right:40px;
    margin-bottom:40px; 
    border:0px;
    cursor:pointer;
}

button:hover{
    opacity:50%;
}