/* css reset */
@import 'reset.css';
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body{
    font-family: Rowdies;
    background-color: #84ACF2;
    overflow-x: hidden;
}

.bc{
    position: absolute;
    z-index: -5;
}

.header{
    height: 80px;
}

.header-logo{
    float:left;
    padding: 20px 40px;
    font-size: 36px;
}

.btn-close{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    float:right;
    color:white;
    background-color: transparent;
    margin-right:40px;
    margin-top:20px;
    border:0px;
    cursor:pointer;
    font-weight: 800;
    text-decoration: none;
}

.header-logo{
    text-align: left;
    color: white;
}

.title{
    text-align: center;
    color: white;
    padding-bottom:25px;
    font-size: 36px;
}

.contents{
    margin: 25px 100px;
    width: 1300px;
    height: 375px;
    align-content: center;
    padding-left: 8%;
}

.contents-item img:hover{
    opacity:50%;
}

.contents-item{
    height: 225px;
    width: 150px;
    float:left;
    margin-right:100px;
    background-color: white;
    border: 4px solid #5D1890;
    border-radius: 7px;
    left:50%;
    cursor:pointer;
    align-items: center;
    border-left: 50%;
}

.contents-item img{
    width:125px;
    height:177px;
    padding-top:17%;
    padding-left:10%;
}

.contents-item p{
    font-size: 36px;
    text-align: center;
    color:white;
    margin-top:50px;
}

.btn-next{
    width: 80px;
    height: 80px;
    float:left;
    background-color: transparent;
    margin-left:40px;
    margin-bottom:40px;
    border:0px;
    cursor:pointer;
    transform: scaleX(-1);
}

.btn-start{
    width: 200px;
    height: 70px;
    background: #1538A5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: Rowdies;
    font-size: 20px;
    float:right;
    color: #ffffff;
    margin-right:40px;
    margin-bottom:40px;
    cursor: pointer;
}

button:hover{
    opacity:50%;
}

.deskripsi{
    background: #FFFFFF;
    border: 1px solid #EAF1FF;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    top: 160px;
    display: flex;
    left:22%;
}

.deskripsi-img {
    width:125px;
    height:177px;
    padding: 50px;
}

.deskripsi-close{
    text-align: right;
    color: #69259C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right:0px;
    position: absolute;
    border:none;
    background-color: transparent;
    margin-top:15px;
    margin-right:15px;
    font-weight: 900;
    font-size: 24px;
    cursor:pointer;
}

.deskripsi-text h1{
    padding-top: 65px;
    font-size:24px;
    width:433px;
}

.deskripsi-text p{
    color: #919197;
    font-size:20px;
    width:433px;
    padding-top:25px;
    padding-bottom:65px;
    padding-right:50px;
    line-height: 30px;
}

.hide{
    display:none;
}

.effect{
    filter: blur(8px);
    pointer-events: none;
}