/* css reset */
@import 'reset.css';
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
	background-color: #84acf2;
	font-size: 24px;
	font-family: 'Rowdies', cursive;
}

.nomer {
	display: inline-block;
	background-color: #e2102d;
	border-radius: 50%;
	color: #eaf1ff;
	padding: 25px;
	position: relative;
	right: 10px;
	bottom: 10px;
}

.content {
	display: flex;
}

.soal {
	width: 50%;
	text-align: center;
}

.content img {
	background-color: #ffffff;
	margin-top: 5%;
	padding: 10% 7%;
	border-radius: 10px;
	border: solid 5px #ad0d18;
	width: 200px;
	height: 300px;
}

.jawab {
	display: inline-flex;
	margin-top: 50px;
	width: 100%;
}

.satu {
	background-color: #eaf1ff;
	color: #1538a5;
}

.dua {
	background-color: #1538a5;
	color: #eaf1ff;
}

.jawaban {
	width: 600px;
}

.pil {
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	padding: 20px;
	border-radius: 50%;
}

.teks {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
	border-radius: 10px;
}

.jawab:hover {
	opacity: 0.9;
	cursor: pointer;
}

#periksa {
	font-size: 20px;
	font-family: 'Rowdies', cursive;
	color: #eaf1ff;
	background-color: #e2102d;
	border: none;
	float: right;
	margin: 2% 12% 3%;
	padding: 10px 10px;
	border-radius: 10px;
}

#periksa:hover {
	opacity: 0.9;
	cursor: pointer;
}

/* hasil */

.hasil {
	width: 100%;
	text-align: center;
	position: fixed;
	top: 20%;
	z-index: 999;
}

.hasil img {
	width: 70px;
}

.hasil .selanjutnya {
	margin: 10% 0;
}

.hasil h3 {
	margin: 2% 0;
}

.hide {
	display: none;
}

.blur {
	filter: blur(8px);
}

.klik-jawab {
	background-color: #69259c;
	color: #ffffff;
}

.kotak {
	width: 300px;
	margin: 0 auto;
	background-color: #69259c;
	padding: 7% 10% 0;
	color: #ffffff;
	border-radius: 3%;
	text-align: center;
}
